input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.btn-submit {
  float: right;
}

.btn-submit:hover {
  background-color: #1f70ff;
}

#subject{
  height: 150px;
}


.contact-container {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
  padding-bottom: 60px;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}