.home-main{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #f2f2f2;
}

.home-main-header{
    padding-top: 20px;
    text-align: center;
}

.home-main-content{
    display: inline-block;
    padding: 40px;
}

#subject{
    height: 200px;
}
